<div class="row well well-sm">
  <p>
  To be a team driver for this project, here's what you need: a clean car and several years experience driving. Your mapper will navigate for you -- you just need to focus on the road as you hop from one fast food parking lot to another in busy city traffic. 
  </p>
</div>
