<div class="row well well-sm">
  <p>
  As the mapper, you'll use Google maps to pick out the territory and the restaurants that you'll leaflet. You'll have to claim that territory on a shared Google map, and then add the individual restaurants that you leafleted after you leaflet them. 
  </p>

  <p>
  Skills you need to be a mapper:
  </p>

  <ul>
    <li>You have to be good at using the advanced features of tricky web-based applications like Google maps. You'll be using features that you've probably never used before. <strong>We have a great <a href="guide-mapper.html">screencast video</a> that will teach you how to do all this if you need some help.</strong></li>
    <li>You have to be meticulous about keeping track of which restaurants you leafletted so that you can mark them off after your event.</li>
    <li>You need to have a printer -- to print out maps.</li>
  </ul>
</div>
