<div class="row well well-sm">
  <p>
  As a printer in this leafleting project, you're responsible for pretty much the most critical task: you've got to print the leflets! You need a printer that workers, and a hand that won't cramp after cutting up dozens of sheets of paper (note: you can cut several at the same time!). Or -- you can just do it at a local printshop. 
  </p>
</div>
