<div class="row well well-sm">
  <p>
	As the recorder, you will conduct research on Google and select geographical areas where there is a high volume of fast food restaurants.  You’ll discuss your suggested route with the Driver of your team and agree on directions.  Finally, you’ll record information about the locations that your team leaflets and update the team page with this information.
	</p>
  <p>
  Skills you need to be a Recorder:
  </p>

  <ul>
		<li> You have to be able to Google the location of fast food restaurants and pinpoint a group of spots that you would like the team to target.</li>
    <li>You have to be meticulous about keeping track of which restaurants you leafletted so that you can mark them off after your event.</li>
		<li>You have to be disciplined about entering in the locations that were leafleted into the website after the fact.</li>
  </ul>
</div>
