<h1>Start a new team</h1>

<h4>
  Your job as Coordinator is to bring together individuals that will work well as a team, help them complete their tasks and organize the team. As the creator of the team, you are automatically its coordinator. You are also the role that brings the event together. It's your job to check in on the other team members to make sure everything is getting done. Each role has a To-Do list. Everyone on the team can see each other's To-Do lists -- and can see which items are checked off, and which are NOT yet checked off.
</h4>

<div class="well well-sm">
	<h2>Here is an overview of the process of creating and organizing a team: </h2>
  	<li>You will create a team and tell folks a little about yourself. </li>
  	<li>Recruit team members and folks will apply to be a member of your team. </li>
  	<li>Your team will choose where it will leaflet, how many restaurants you'll attempt and when it will go. </li>
  	<li>Select a date, time and location that you will meet with your team to canvass restaurants.</li> 
  	<li>Help your team organize and complete their necessary tasks.</li> 
  	<li>Spread the word about the Fast Food Strike Movement! </li>
  	<li>Repeat!</li>
	<%= link_to "I'm ready to start a team!", new_team_path, :class => 'btn btn-primary btn-sm' %>
</div>
