<h2>Join a team...</h2>
<h3>Here's the process:</h3>
<h4>
<li> Read about the roles and think about which one might work for you.</li> 
<li> Search for your friend’s team or find a team that is close to where you live.</li> 
<li> Let your selected team know that your interested in helping and give them a little information about yourself.</li> 
<li> The team’s coordinator will review your info and let you know if you are a good fit. </li>
<li> Organize with your team and get out there and Spread the Word about the Fast Food Strike Movement!</li>
</h4>
<div class="well well-sm">
  <h2>Roles:</h2>
  <dt>Driver:</dt>
  <dd> Do you have a car? Are you a responsible driver? Your job will be to drive the team around town from Fast Food restaurant to restaurant.  This role is ideal for folks who are shy about talking to strangers, as you can stay in the car while your teammates handout leaflets. </dd>
  <dt>Recorder:</dt>
  <dd> Are you good with figuring out directions?  Are you a talented Googler? This role will research which areas might be good for your team to hit.  You are in charge of finding areas that have a bunch of fast food locations really close together.  You are also responsible for recording which spots you hit and recording those in the app so you can track your progress!  </dd>
  <dt>Printer:</dt>
  <dd> Do you have access to a computer and a printer?  Are you located close to a print shop like Kinkos?  This job is pretty simple, you make sure that your team has enough leaflets to hand out when you canvass Fast Food locations. </dd>
  
</div>

 <%= link_to 'Join a team', teams_path, :class => 'btn btn-primary' %>
