- if current_user
  = link_to "Create an event for Congo Week!", event_type_movement_path(@movement), :class=> "btn btn-success btn-lg"
- else
  = link_to "Create an event for Congo Week!", new_movement_unauthenticated_event_path(@movement), :class => "btn btn-success btn-lg"
