<div class="panel-group" id="accordion">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn ctrl-btn email-btn">
    EMAIL YOUR ATTENDEES
  </a>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <div class='row'>
        <%= form_tag(mail_attendees_path(movement_id: @movement), method: "post") do %>
          <div class='form-group'>
            <div class='col-md-9'>
              <%= text_area_tag "message", nil, placeholder: 'Enter a message to send to all attendees', class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <div class='col-md-3'>
              <%= submit_tag "SEND EMAIL", class: 'btn', id: 'Send_Email' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
