  <script>
  $(function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });

    $( "#opener" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  });
  </script>
</head>

<div id="dialog" title="Email your Attendees">
  <%= form_tag(mail_attendees_path(movement_id: @movement), method: "post") do %>
    <%= text_area_tag "message", nil, placeholder: 'Enter a message to send to all attendees', class: 'form-control' %>
    <%= submit_tag "SEND EMAIL", class: 'btn ctrl-btn', id: 'Send_Email' %>
  <% end %>
</div>

<button id="opener"  class= 'btn ctrl-btn' >EMAIL YOUR ATTENDEES</button>

