<div class="panel-group" id="accordion">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Email Your Attendees 
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <%= form_tag("/mail", method: "post") do %>
        <%= text_field_tag "mail[message]", nil, placeholder: 'Enter a message to all attendees' %>
        <%= hidden_field_tag "mail[movement_id]", @movement.id.to_i %>
        <%= submit_tag "Send Email"%>
      <% end %>
    </div>
  </div>
</div> 
