<div class = "group-panel">
<%= link_to movement_path(chapter) do %>
		<div class = "group-image"><%= image_tag chapter.avatar, :class => "movement_avatar group-image" %></div>
		<div class = "text-center group-name"><%=chapter.name%></div>
<% end %>
</div>

