<%= link_to movement_path(chapter) do %>
	<div class = "group-panel">
		<div class = "group-image"><%= image_tag chapter.image, :class => "movement_avatar group-image" %></div>
		<div class = "text-center group-name"><%=chapter.name%></div>
	</div>
<% end %>

