<a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=#"
   target="_blank"> <%= image_tag "facebook.png", :class=> "thumbnail",  size: "100x100" %>
</a>

<a href="http://twitter.com/share?text=#">
  <%= image_tag "twitter.png", :class=> "thumbnail", size: "100x100" %>
</a>

<a href="mailto:#">
  <%= image_tag "envelope.png", :class=> "thumbnail", size: "100x100" %>
</a>

