<div class='tab-pane' id='events'>
  <div class='well'>
    <legend>Events</legend>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <%= render 'events/events_form' %>
      </div>
    </div>
  </div>
  <%= render template: 'events/new' %>
</div>
