.tab-pane#events
	.well
		.panel.panel-default
			.panel-body
				%table.table.table-bordered.table-striped.sortable#group-events-table
					%tr
						%th Event Name (click to Edit)
						%th When
						%th Where
						%th Approved
					- @group.events.each do |event|
						%tr
							%td= link_to event.name, my_events_path(:name => {:id => event.id})
							%td= event.start_date
							%td= event.location
							%td= event.approved

