.tab-pane#edit-account
  .well
    %legend
      =t('movements.movement.edit_account')
    .attend-form
    = render :template => 'devise/registrations/edit', :locals => { :resource => current_user, :resource_name => 'user' }


