.tab-pane#unapproved_events
  .well
    %legend 
      =t('views.movements.movement.edit_account')
    .attend-form
    = render :template => 'devise/registrations/edit', :locals => { :resource => current_user, :resource_name => 'user' }


