.tab-pane#events
	.well
		%legend= description
		.panel.panel-default
			.panel-body
				- if events.empty?
					%h2
						=t('.empty_events_line1')
						=link_to t('.events_page'), root_path
						=t('.empty_events_line2')
				- else
					= render partial: 'events/panel', collection: events, as: :event
