#events.tab-pane
  .well
    %legend Event Details
    .panel.panel-default
      .panel-body
        %input#search_input{placeholder: "Type to filter"}/
        %h4.event_dash_legend
          Select an Event to Edit
          .col-left
            %ul#search_events
              - events.each do |e|
                %li
                  %button.edit-event-dash.btn-block.btn-info{id: e.id}
                    %span.event-img-dash>= image_tag(e.image(:medium), width: 50)
                    \  
                    %span.event-name-dash= e.name
          .col-right
            = render partial: 'events/edit_event', collection: events, as: :event