.container
  .row
    = image_tag @movements.first.image(:medium), width: 200, :class => "movement_avatar"
  .row
    %h1.text-center Parent Movement:
    = render @movements 
  .row
    %h1.text-center All Movements:
    = render Movement.all
  .row
    %h1.text-center All Events:
    = render Event.all
