=image_tag Movement.first.image, class: "bg"
=content_for :title, t('.my_groups')
.container.no-header
  %h2
    =t('.manage_my_groups')
  = form_tag my_groups_path, :method => :get, remote: true do
    = select("name", "id", @groups.map {|group| [group.name, group.id]})
    = submit_tag t('.show')
    %h3
      =t('.select_group')
    %ul#groupTabs.nav.nav-tabs{style: "margin-bottom: 15px;"}
      %li
        %a{href: '#group', data: {toggle: 'tab'}}
          =t('.group_details')
      %li
        %a{href: '#events', data: {toggle: 'tab'}}
          =t('.group_events')
      %li
        %a{href: '#support', data: {toggle: 'tab'}}
          =t('.manage_supporters')
      %li
        %a{href: '#past_events', data: {toggle: 'tab'}}
          =t('.past_events')

  .tab-content
    .tab-pane.fade.in#group
      =render 'movements/tab_groups', group: @group
    .tab-pane.fade.in#events
      =render 'movements/tab_group_events', events: @group.events & User.first.current_events
    .tab-pane.fade.in#support
      =render 'movements/tab_group_attendees', events: @group.events & User.first.current_events
    .tab-pane.fade.in#past_events
      =render 'movements/tab_past_events', events: @group.events & User.first.past_events

