<div class='tabbable'>
  <ul class="nav nav-tabs">
    <li class="active"><a href='#movement' data-toggle='tab'>Movement</a></li>
    <li><a href='#rallies' data-toggle='tab'>Rallies</a></li>
    <li><a href='#tasks' data-toggle='tab'>Tasks</a></li>
    <li><a href='#successes' data-toggle='tab'>Successes</a></li>
  </ul>

  <div class='tab-content'>
    <%= render "tab_movement" %>
    <%= render "tab_rallies" %>
    <%= render "tab_tasks" %>
    <%= render "tab_successes" %>
  </div>
</div>
