= content_for :title, @movement.name
.container
  .row
    = image_tag @movement.image,:class => "movement_avatar"
  .row
    .col-sm-6.events-button
      = link_to image_tag('events_button.jpg'), movement_events_path(@movement), class:'events-btn'
    .col-sm-6.network-button
      = link_to image_tag('network_button.jpg'), support_network_movement_path(@movement), class:'network-btn'
  .row
    %blockquote
      %em 
        =t('.quote')
