=image_tag "nopeacenolife.jpg", class: "bg"
%div.page-wrap.wrapper
  %h2.text-center #CongoWeek2014
  %h4 Congo Week is a global campaign that takes place every October to break the silence about issues in the heart of Africa.
  %br
  %h3.text-center JOIN THE MOVEMENT!
  .row
    .col-sm-6
      = link_to "Host an Event", movement_events_path(Movement.first), class: 'btn search btn-host'
    .col-sm-6
      = link_to "Attend an Event", movement_events_path(Movement.first), class: 'btn search btn-host'
  %br
  .row
    .col-sm-12
      = link_to "Learn More About Congo Week", mission_path, class: 'btn btn-host'
  %br
    %h4 Congo Week starts in:
    .count-down
  %br
