=image_tag Movement.first.image, class: "bg"
=content_for :title, t('.support_network')
%div.content-header.container
  %h2.text-center.header-text 
    =t('.teams')
.container
  .spacer10
  .row
    %p#team_info
      =t('.team_information')
  .row
    .col-sm-8
      %h3
        =t('.network_message', number: @support_network.size)
    .col-sm-4
      - if !current_user.nil?
        =link_to t('.create_team'), new_movement_path({parent_id: @movement.id}), class: 'btn btn-host btn-team'
      - else
        =link_to t('.create_team'), new_unauthenticated_submovement_path({parent_id: @movement.id}), class: 'btn btn-host'
  - @support_network.each do |team|
    = render 'group_panel', team: team
