.container
  .row
    =image_tag @movement.image, :class => "movement_avatar"
  .row.event-list
    .col-sm-10
      %h2 Support Network
    .col-sm-2
      =link_to 'CREATE A CHAPTER', new_unauthenticated_submovement_path(@movement), class: 'btn'
  - @support_network.each do |chapter|
    .row.event-list
      .col-sm-4
        =image_tag chapter.image, :class => "movement_avatar"
      .col-sm-8
        .row
          %h3= chapter.name
        .row
          .col-xs-6
            .btn JOIN CHAPTER
          .col-xs-6
            =link_to 'EVENTS', movement_events_path(chapter), class: 'btn'