= content_for :title, t('.support_network')
.container
  .row
    =link_to (image_tag asset_path("fotc_banner.jpg"),:class => "movement_avatar"), root_path
  .team-info
    =t('.team_description')
  .row.event-list
    .col-sm-8
      %h3
        =t('.network_message', number: @support_network.size)
    .col-sm-4
      - if !current_user.nil?
        =link_to t('.create_team'), new_movement_path({parent_id: @movement.id}), class: 'btn btn-host'
      - else
        =link_to t('.create_team'), new_unauthenticated_submovement_path({parent_id: @movement.id}), class: 'btn btn-host'
  - @support_network.each do |team|
    = render 'group_panel', team: team
