= content_for :title, "Support Network"
.container
  .row
    =image_tag @movement.image, :class => "movement_avatar"
  .row.event-list
    .col-sm-6
      %h2 Our Support Network:
    .col-sm-2.col-sm-offset-4
      - if !current_user.nil?
        =link_to 'JOIN', new_movement_path(@movement, {parent_id: @movement.id}), class: 'btn'
      - else
        =link_to 'JOIN', new_unauthenticated_submovement_path(@movement, {parent_id: @movement.id}), class: 'btn'

  - @support_network.each do |chapter|
    .row.event-list
      .col-sm-4
        =image_tag chapter.image, :class => "movement_avatar"
      .col-sm-8
        .row
          %h3.text-center= link_to chapter.name, movement_path(chapter)
        .row
          .col-xs-12
            .text-center
              =link_to 'EVENTS', movement_events_path(chapter), class: 'btn text-center'
