= content_for :title, t('.support_network')
.container
  .row
    =link_to (image_tag @movement.image, :class => 'movement_avatar'), root_path
  .row.event-list
    .col-sm-6
      %h2 
        =t('.network_message', number: @support_network.size)
    .col-sm-2.col-sm-offset-2
      - if !current_user.nil?
        =link_to t('.create_group'), new_movement_path(@movement, {parent_id: @movement.id}), class: 'btn'
      - else
        =link_to t('.create_group'), new_unauthenticated_submovement_path(@movement, {parent_id: @movement.id}), class: 'btn'

  - @support_network.each do |chapter|
    = render 'group_panel', chapter: chapter
