.container
  %ul#movementTabs.nav.nav-tabs{style: "margin-bottom: 15px;"}
    %li
      %a{href: '#edit_account', data: {toggle: 'tab'}} Personal Details
    %li
      %a{href: '#attending_events', id:'event_tab' ,data: {toggle: 'tab'}} Events Attending (#{@events_attending.count.to_s})
  .tab-content
    .tab-pane.fade.in#edit_account
      = render "tab_edit_account", user: current_user
    .tab-pane.fade.in#attending_events
      = render "tab_my_events", events: @events_attending, description: "Events Attending"
    .tab-pane.fade.in#attendees
      = render "tab_my_attendees", events: @events_hosting
