%ul#movementTabs.nav.nav-tabs{style: "margin-bottom: 15px;"}
  %li
    %a{href: '#movements', data: {toggle: 'tab'}} Movements
  %li
    %a{href: '#events', data: {toggle: 'tab'}} Events
.tab-content
  .tab-pane.fade.in#movements
    = render "tab_my_movement"
  .tab-pane.fade.in#events
    = render "tab_my_events"
