%ul#movementTabs.nav.nav-tabs{style: "margin-bottom: 15px;"}
  %li
    %a{href: '#movements', data: {toggle: 'tab'}} Movements
  %li
    %a{href: '#events', data: {toggle: 'tab'}} Events
  -if current_user.host_for_nonapproved_events?
    %li
      %a{href: '#unapproved_events', data: {toggle: 'tab'}} Unapproved Events
.tab-content
  .tab-pane.fade.in#movements
    = render "tab_my_movement"
  .tab-pane.fade.in#events
    = render "tab_my_events"
  .tab-pane.fade.in#unapproved_events
    = render "tab_my_unapproved_events"
