.h1= "Welcome to " + @movement.name + "!"
%br
.h2= "The story of " + @movement.name + ":"
%br
.well.h4= @movement.story

=image_tag @movement.image, width: 500
=youtube_embed_url_for_(@movement.video)

=link_to "Create Event!", new_movement_event_path(@movement)
