<div class="jumbotron about" >
  <div class="container description">
    <h1 class="rainbow" > Who are we? </h1>
    <h2 class="rainbow" > We're a group of passionate technologists, trying to change the world by helping YOU organize around YOUR passions. </h2>
    <h1 class="rainbow" > Did I mention we like cats? </h1>
    <h2 class="rainbow" > Cats are the sweetest animals on this big blue-green rocketship we all live on.  As we carom wildly around the sun, cats are what keep us going, keep us warm at night, and keep us feeling loved.  Do you love cats, too?  Let us know! </h2> 
  </div>
</div>
