<section id="slide-1">
  <div class="bcg">
    <div class="content">
      <h1>People around the world are organizing.</h1>
    </div>
  </div>
</section>

<section id="slide-2">
  <div class="bcg">
    <div class="content">
      <h1> They've created events near you to change the world.  Find one. </h1>
      <br><br>
      <%= form_tag "/events", method: "get", class: 'form-inline', id: 'zip-form' do %>
        <div class="form-group" >
          <%= search_field_tag 'zip', value = nil, options = {placeholder: "ZIP", class: 'form-control', maxlength: 5, id: 'zip'} %>
        </div>
        <div class="form-group">
          <%= button_tag name="Search", class: 'btn btn-default', id: 'search_zip' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="slide-3">
  <div class="bcg">
    <div class="content">
      <h1> If you're passionate, you can change the world too.  
        <%= link_to "Create your own movement.", new_movement_path, id: 'create-movement-link' %>
      </h1>
    </div>
  </div>
</section>
