=image_tag Movement.first.image, class: "bg"
%div.content-header.container
	%h2.text-center.header-text Congo Week
.container
	.pad20=t('movements.show.quote')
	.group-panel-event-type
		%div
			%img.group-image-event-type.mission-panel{alt: "", src: asset_path("purpose.jpg")}
			%span.text-content
				%span=t('.background')

	.group-panel-event-type
		%div
			%img.group-image-event-type.mission-panel{alt: "", src: asset_path("purpose.jpg")}
			%span.text-content.purpose-pic
				%span=t('.purpose') + t('.cw_date')
	%h3.pad20=t('.breaking_the_silence')
	%div.carousel-responsive.mar30
		.col-sm-4
			=youtube_embed_url_for_('pu4AvfBnLB0')
		.col-sm-4
			=youtube_embed_url_for_('h3h9C496HtE')
		.col-sm-4
			=youtube_embed_url_for_('FVer68WFVjo')
		.col-sm-4
			=youtube_embed_url_for_('Q_CWxQ1uVEs')
		.col-sm-4
			=youtube_embed_url_for_('uhwDTSh3kAA')
		.col-sm-4
			=youtube_embed_url_for_('6qv7BbgaUjE')
		.col-sm-4
			=youtube_embed_url_for_('meKJRvgmliE')
		.col-sm-4
			=youtube_embed_url_for_('SfAr4d89b-A')
		.col-sm-4
			=youtube_embed_url_for_('Nr-PLQtR4OY')
	%strong.pad20
		= t('.view_template')
		= link_to  t('.link'), template_path
	%br
	.row
		.col-sm-6
			= link_to t('.host_event') , event_type_movement_path(Movement.first), class: 'btn search btn-host'
		.col-sm-6
			= link_to t('.attend_event'), movement_events_path(Movement.first), class: 'btn search btn-host'
