.container
	%h3 Sample Congo Week Schedule and Themes
	%br
	%br
	%strong Here is a sample of Congo Week schedule for you to use as a guide.
	%i You can change it around to make it fit your community.
	%strong Some campuses and community host events every day, others host just one or two events during the week. We hope that this will get your creativity flowing.
	%br
	%br
	%strong Note: If you’re planning to host more than one event during Congo Week, set up a team page here
	=link_to '(link)', new_movement_path
	%strong so you can direct people to all your events at once
	%br
	%br
	%strong Sunday:
	Prayer/Vigil
	%br
	Theme: Interfaith Prayer for peace in the Congo
	%br
	Action: Host an event to call for peace in the Congo in all faiths.
	%br
	%br
	%strong Monday:
	Leopold II - Second King of the Belgians, remembered for the founding and exploitation of the Congo Free State.
	%br
	Theme: Congo’s History
	%br
	Action: Host a Movie Screening of (FOTC’s movie)
	%br
	%br
	%strong Tuesday:
	Patrice Lumumba - Congolese independence leader and the first democratically elected Prime Minister of the Republic of the Congo
	%br
	Theme: The Ideas and Teachings of Patrice Lumumba
	%br
	Action: Support Congolese youth who are striving to fulfill the ideas of Lumumba
	%br
	Host a Movie Screening of Lumumba by Raoul Peck and/or Host a Fundraiser

	%br
	%br
	%strong Wednesday:
	The Cell OUT
	%br
	Theme: Congo’s Connection to Modern technology
	%br
	Action: Use cell phones as a tool for activism. Participate in the The Cell OUT, a "digital moment of silence" starting at 12 noon on Wednesday, October 22nd to commemorate the millions of Congolese lives lost and raise awareness about the ongoing conflict in the Congo and the vicious scramble for Congo's spectacular natural resources.
	%br
	%br
	Organize a coordinated effort for individuals in your community to turn off their cell phones at noon for at least an hour - perhaps a full day - and change their voicemail message to let callers know why they’re putting their cell phone away.
	%br
	%br
	Visit
	= link_to 'www.thecellout.com', 'www.thecellout.com'
	to learn more.
	%br
	%br
	%strong Thursday:
	Sexual Violence in the Congo
	%br
	Theme: The tragedy: Rape used as a weapon of war
	%br
	Action: Host a public event or rally on your campus or in your community to highlight the issue of rape in the Congo.
	%br
	%br
	%strong Friday:
	A Free and Liberated Congo
	%br
	Theme: The World’s Best Kept Secret: Realizing Congo’s enormous human and natural potential
	%br
	Action: Host a discussion panel or forum, invite speakers, or skype exchange with Congolese youth.
	%br
	%br
	%strong Saturday:
	"Break The Silence!"
	%br
	Theme: Worldwide Support Day of Congo
	%br
	Action: Host a concert or other type of fundraiser for
	=link_to 'Congo Connect Youth Initiative', 'http://friendsofthecongo.org/take-action/youth-project.html'

