=image_tag "girls_singing.jpg", class: "bg"
.container
	%h3=t('.header1')
	%br
	%br
	%strong=t('.line1')
	%i=t('.line2')
	%strong=t('.line3')
	%br
	%br
	%strong=t('.line4')
	=link_to t('.link'), new_movement_path
	%strong=t('.line5')
	%br
	%br
	%strong=t('.line6')
	=(t'.line7')
	%br
	=(t'.line8')
	%br
	=(t'.line9')
	%br
	%br
	%strong=t('.line10')
	=(t'.line11')
	%br
	=(t'.line12')
	%br
	=(t'.line13')

	=link_to (t'.line14'), "https://www.youtube.com/watch?v=vLV9szEu9Ag",  :target => '_blank'
	%br
	%br
	%strong=t('.line15')
	=t('.line16')
	%br
	=t('.line17')
	%br
	=t('.line18')
	%br
	=t('.line19')
	%br
	%br
	%strong=t('.line20')
	=t('.line21')
	%br
	=t('.line22')
	%br
	=t('.line23')
	%br
	%br
	=t('.line24')
	%br
	%br
	=t('.line25')
	=link_to 'www.thecellout.com', 'www.thecellout.com',  :target => '_blank'
	=t('.line26')
	%br
	%br
	%strong=t('.line27')
	=t('.line28')
	%br
	=t('.line29')
	%br
	=t('.line30')
	%br
	%br
	%strong=t('.line31')
	=t('.line32')
	%br
	=t('.line33')
	%br
	=t('.line34')
	%br
	%br
	%strong=t('.line35')
	=t('.line36')
	%br
	=t('.line37')
	%br
	=t('.line38')
	=link_to (t'.line39'), 'http://friendsofthecongo.org/take-action/youth-project.html',  :target => '_blank'

