<h1>Download your leaflets</h1>

<p class="lead">
Please double check that you got the right city! And note that you probably have to cut up the leaflets.
</p>

<%= form_tag download_leaflet_path, :method => :get do %>
  <div class="form-group">
    <select name="leaflet[id]" class="form-control">
      <% @leaflets.each do |l| %>
        <option value="<%= l.id %>"><%= l.location %></option>
      <% end %>
    </select>
    <%= submit_tag 'Download', :class => 'btn btn-primary' %>
  </div>
<% end %>
