Congratulations!  Your event, #{@event.name}, has reached #{@event_size} attendees!  If this exceeds your expectations, consider changing the type of event to one that might accomodate more attendees.
%br/
%br/
Best of luck!
Samya, Kambale and the rest of the Congo Week Organizers

