Hello #{@recipient.name},
%br/
%br/
Don’t forget! Today is the #{@event.movement.name} on #{@event.start_time_formatted} at #{@event.address}.
%br/
%br/
Thank you for being a part of Congo Week. This week, people throughout the globe gather  to commemorate the millions of lives lost in the conflict in the Congo while celebrating the enormous human and natural potential that exists in the country. Your participation matters.
%br/
%br/
See you there.
Samya, Kambale and the rest of the Congo Week Organizers
