Hello #{@recipient.name},
%br/
%br/
Thanks for attending:
%strong= @event.name
on #{@event.start_time_formatted} at #{@event.location}.
%br/
%br/
Thank you for being a part of Congo Week. Keep in contact with your team to keep up-to-date about future events. Continue to break the silence.
%br/
%br/
Sincerely,
%br/
Samya, Kambale and the rest of the Congo Week Organizers
