Hello #{@recipient.name},

Thank you for creating #{@team.name} to be a part of Congo Week. Every year in the third week of October, people throughout the globe gather  to commemorate the millions of lives lost in the conflict in the Congo while celebrating the enormous human and natural potential that exists in the country.

By creating a team, you are helping to amplify the message. You can access your team dashboard
= succeed "." do
  %a{href: my_groups_url({:locale => I18n.locale, :name => {:id => @team.id}})} here

(If you have forgotten your password, you can reset it)

Now that you have a team - start organizing and creating events! When you (or members of your team) create an event it will show up on your team page.

Thank you for joining the global movement for peace and justice in the heart of Africa.


Sincerely,

Samya, Kambale and the rest of the Congo Week Organizers
