.tab-pane#tasks
  .well
    %table.table.table-bordered.table-striped.sortable#host-task-table
      %legend= t('.host_tasks')
      %tr
        %th= t('.description')
      - TaskPopulator.host_tasks(event).each do |task|
        %tr
          %td= task
