<%= div_for task do %>
  <li>
    <%= task.description %>
    <%= link_to "Delete", movement_task_path(@movement, task.id), method: :delete,
      data: { confirm: "You sure about deleting task '#{task.description}'?"}, remote: true  %>
    <%= link_to "Update", edit_movement_task_path(@movement, task) %>
  </li>
<% end %>
