<% @movement.events.each do |event| %>
  <div class="well">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=event.id%>">
      <h2> Event: <%= event.name %> (<%= event.type %>) </h2>
    </a>
    <%= render "tasks/form", event: event %> 
  </div>
<% end %>
