<h1>Frequently Asked Questions</h1>

<div id="accordion1" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapse1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <h4>
          What's this all about?
        </h4>
      </a>
    </div>
    <div class="accordion-body collapse in" id="collapse1">
      <div class="accordion-inner">
        <p>
        Three and a half million fast food workers in America work at or close
        to minimum wage. With an average age of 28, they are adults, trying to
        support families. They are doing what workers in other industries in America
        and around the world have always done: join together to ask for higher
        pay. We want to help.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapse2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <h4>
          Can I really help?
        </h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapse2">
      <div class="accordion-inner">
        <p>
        In the 30's and 40's when America's industrial workers organized to create
        our middle class, workers were sometimes 100 thousand in a single facility.
        Communication was easier then. Until now, Fast Food Workers were too scattered
        to come together and organize. The Internet and mobile phones has tipped
        the balance for this industry. But only a small fraction of workers have
        become connected to the movement. We're seeking supporters to connect thousands
        of restaurants with this movement.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapse3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <h4>
          Why do I have to join a team?
        </h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapse3">
      <div class="accordion-inner">
        <p>
        You don't! Click here to get instructions and lefleats to hand out yourself
        in any restaurant all on your own. Teams get a lot done. The idea behind
        teams is that people will come together to spend several hours reaching
        many restaurants. It'll be fun! You'll be hanging out with some new people.
        The work will be easy, because it's divided among many. Teams work&nbsp;
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapse4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <h4>
          If fast food workers make $15/hr, how much more will people have to pay
          for a Big Mac?
        </h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapse4">
      <div class="accordion-inner">
        <p>
        There have been several analyses of this question. Ask ten economists,
        and you'll get ten different answers. Here are some facts though: Labor
        is not the only cost in the price of your meal. When McDonalds pays its
        CEO more, that too creates pressure on the price of your kid's Happy Meal
        -- same for when it invests in new stores and equippment, profit distributions
        to shareholders, donations to charity, etc.... But let's say people had
        to pay 50 cents more for a meal so that we could have a strong middle class
        again in this country -- wouldn't that be worth it?
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapse5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <h4>
          But won't it put companies out of business?
        </h4>
      </a>
    </div>
    <div class="accordion-body collapse" id="collapse5">
      <div class="accordion-inner">
        <p>
        There have been several analyses of this question. Ask ten economists,
        and you'll get ten different answers. Here are some facts though: Labor
        is not the only cost in the price of your meal. When McDonalds pays its
        CEO more, that too creates pressure on the price of your kid's Happy Meal
        -- same for when it invests in new stores and equippment, profit distributions
        to shareholders, donations to charity, etc.... But let's say people had
        to pay 50 cents more for a meal so that we could have a strong middle class
        again in this country -- wouldn't that be worth it?
        </p>
      </div>
    </div>
  </div>
</div>
