<h1>
  Fast Food Workers could use your help.
</h1>

<div class="well well-sm">
  <p>
  There are 3.5 million fast food workers in America. Thousands of workers have begun to organize a union. You can help them get the word out to their colleagues in every community and every company. 
  </p>

  <p>
  You first mission as a fast food worker ally: deliver an invitation from the Fast Food Worker Organizing Committee to workers in every fast food restaurant in the country. This site will plug you into a team in your area -- or you can use it to invite your friends to form a new team with you.
  </p>

  <a class="btn btn-default" href="#">Invite your friends to create a team</a>
  <%= link_to 'Join a team with cool new people', choose_role_path, :class => 'btn btn-default' %>
</div>

