<div class="hero-unit text-center">
<h1>Make A Difference</h1>
<h2>Find a rally near you.</h2>

<div class='form-search'>
  <%= form_tag "/rallies" do %>
    <%= search_field_tag 'zip', value = nil, options = {placeholder: "ZIP"}%>
    <%= button_tag name="Search" %>
  <% end %>
</div>

<%= link_to "Feeling inspired? Create A Movement.", new_movement_path %>
