<div class="hero-unit text-center">
<h1>Make A Difference! </h1>
<p>Find a rally. </p>

<%= form_tag "/rallies" do %>
  <%= search_field_tag 'zip', value = nil, options = {placeholder: "ZIP"}%>
  <%= button_tag name="search", type: "button" %>
<% end %>

<%= link_to "Feeling inspired? Create A Movement.", new_movement_path %>
