<div class="row" style="background-image: url('<%= image_url 'fancy-background-10.jpg' %>'); background-repeat: no-repeat">
  <div class="col-md-5 col-md-offset-7">
    <div class="well well-sm">
      <h1>Against all odds, Fast Food Workers are organizing. In one afternoon, you could create a tipping point for their campaign.</h1>
      <p>
      Every day, three million fast food workers serve 50 million Americans. At an average age of 28, most are raising families at or close to minimum wage. Thousands of workers have struck for $15 an hour and the right to organize a union. Now they're trying to organize an overwhelming strike in every city and state. The only way for them to get the word out to workers in every community and every company is for supporters to lend a hand. We're asking MoveOn members to pitch in by forming teams to deliver leaflets for the striking workers to thousands of restaurants across the country.
      </p>

      <p>
      You first mission as a fast food worker ally: deliver an invitation from the Fast Food Worker Organizing Committee to workers in every fast food restaurant in the country. This site will plug you into a team in your area -- or you can use it to invite your friends to form a new team with you. 
      </p>

      <%= link_to 'Start a new team', new_team_path, :class => 'btn btn-primary' %>
      <%= link_to 'Join a team', teams_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
