%h3 Events Created by Others

- all_external_events = @movement.movement_events.select{|event| !@movement.users.include?(event.host)}

- unapproved_events = all_external_events.select{|event| !event.approved?}

- approved_events = all_external_events.select{|event| event.approved?}

- unapproved_events.each do |event|
  = render partial: "events/external_event", locals: {event: event}

- approved_events.each do |event|
  = render partial: "events/external_event", locals: {event: event}

