<div class="panel-group" id="accordion">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Email Event Attendees 
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
      <div class='row'>
        <%= form_tag(mail_attendees_path(event_id: event), method: "post") do %>
          <div class="col-md-9">
            <%= text_area_tag "message", nil, placeholder: 'Enter a message to send to event attendees', class: 'form-control' %>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Send Email", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 
