%span.dropdown.callout.center
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"} Chicago
  #simple-location.dropdown-menu
    = search_field_tag 'zip', value = nil, options = {placeholder: "City or ZIP", class: 'form-control',	 id: 'zip'}