<span class="dropdown callout center">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Chicago</a>
	<div class="dropdown-menu" id="simple-location">

	<%= search_field_tag 'zip', value = nil, options = {placeholder: "City or ZIP", class: 'form-control',	 id: 'zip'} %>
	</div>
</span>
