	<!-- <span class="dropdown callout center">
		<a href="#" class="dropdown-toggle">50 miles</a>
		<ul class="dropdown-menu" id="simple-radius">
			<li><a href="#" data-value="2"  data-copy="2 miles">2 miles</a></li>
			<li><a href="#" data-value="5" data-copy="5 miles">5 miles</a></li>
			<li><a href="#" data-value="10" data-copy="10 miles">10 miles</a></li>
			<li><a href="#" data-value="25" data-copy="25 miles">25 miles</a></li>
			<li><a href="#" data-value="50" class="selected" data-copy="50 miles">50 miles</a></li>
			<li><a href="#" data-value="100" data-copy="100 miles">100 miles</a></li>
			<li><a href="#" data-value="Infinity" data-copy="any distance">any distance</a></li>
		</ul>
	</span>
	 -->
	<!--
	<span class="dropdown">
	  <a data-toggle="dropdown" href="#">50 miles</a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	  	<li><a href="#" data-value="2"  data-copy="2 miles">2 miles</a></li>
			<li><a href="#" data-value="5" data-copy="5 miles">5 miles</a></li>
			<li><a href="#" data-value="10" data-copy="10 miles">10 miles</a></li>
			<li><a href="#" data-value="25" data-copy="25 miles">25 miles</a></li>
			<li><a href="#" data-value="50" class="selected" data-copy="50 miles">50 miles</a></li>
			<li><a href="#" data-value="100" data-copy="100 miles">100 miles</a></li>
			<li><a href="#" data-value="Infinity" data-copy="any distance">any distance</a></li>
	  </ul>
	</span> -->

<select class="form-control miles-select">
  <option value="2">2 Miles</option>
  <option value="5">5 Miles</option>
  <option value="10">10 Miles</option>
  <option value="25">25 Miles</option>
  <option value="50">50 Miles</option>
  <option value="100">100 Miles</option>
  <option value="Infinity">any distance</option>
</select>
