.tab-pane#attendees
  .well
    %table.table.table-bordered.table-striped.sortable
      %tr
        %th Name
        %th Email
        %th Phone number
        %th Point person?
      - event.attendees.each do |attendee|
        %tr
          %td= attendee.name
          %td= attendee.email
          %td= attendee.phone
          %td= attendee.volunteer_for(event) ? "yes" : "no"
