<div class='tab-pane' id='tasks'>
  <div class='well'>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=@event.id%>"></a>
    <%= render partial: "tasks/tasks_table", locals: {event: event} %>
  </div>
</div>
