<div class="row">
  <div class="col8">
    <h2>Congrats - You've successfully created a <%=@event.event_type%></h2>
  </div>
  <div class="col4">
    Know what you're doing?  <%= link_to("Go right to your movement dashboard.", dashboard_movement_path(@event.movement, anchor: "movement"))%>
  </div>
</div>
<br>
<div class="row">
  <%=TaskPopulator.description(@event)%>
  <br>
  <br>
  Here are some things you might want to do to make your event a success:
  <br>
  <br>
  <% TaskPopulator.host_tasks(@event).each do |task| %>
    <ul><%= task %></ul>
  <% end %>
  
</div>
