=image_tag "girls_singing.jpg", class: "bg"
.container
  .row
    .col8
      %h2
        = t('events.explanation.confirm_msg', event_type: @event.type)
    %h2.col4
      = link_to(t('events.explanation.event_dash_prompt'), my_events_path(:name => {:id => @event.id}))
  %br
  %h3
    = t('events.explanation.host_task_msg')
  %br
    =render "social/rrssb"
