.container
  .row
    .col8
      %h2 Congrats - You've successfully created a #{@event.type}
    .col4
      Know what you're doing?
      = link_to("Go right to your event dashboard.", my_events_path(:name => {:id => @event.id}))
      / fix this
  %br

  .task-list
    Here are some things you might want to do to make your event a success:
    - TaskPopulator.host_tasks(@event).each do |task|
      %ul
        %li= task
