:javascript
  var switchTo5x=true;
%script{src: "http://w.sharethis.com/button/buttons.js", type: "text/javascript"}
:javascript
  stLight.options({publisher: "d9dc7163-417a-419c-887e-535136f1d822", doNotHash: false, doNotCopy: false, hashAddressBar: false});

%span.st_facebook_large{displaytext: "Facebook"}
%span.st_twitter_large{displaytext: "Tweet"}
%span.st_googleplus_large{displaytext: "Google +"}
%span.st_linkedin_large{displaytext: "LinkedIn"}
%span.st_pinterest_large{displaytext: "Pinterest"}
%span.st_email_large{displaytext: "Email"}
%span.st_sharethis_large{displaytext: "ShareThis"}