<div class='col-sm-5'>
  <div class='well'>
    <legend>Make your movement known...</legend>
    <div class='row'>
      <div class='col-xs-6 col-md-3'>
        <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=#" target="_blank" class='social facebook'> 
          Share on facebook
        </a>

        <a href="http://twitter.com/share?text=Join%20me%20in%20changing%20the%20world%2C%20one%20movement%20at%20a%20time%21" target="_blank" class='social twitter'>
          Share on twitter
        </a>

        <a href="mailto:#" class='social mailto'>
          Email your friends
        </a>
      </div>
    </div>
  </div>
</div>
