var ready;
var map;

ready = function () {
  var events;
  var times;
  var event_images;
  var addresses;
  var event_ids;
  var locale;
  var event_types = [];
  var location_array = [];
  var event_names = [];
  var event_path = [];

  if(window.gon.events != undefined || window.gon.event_types != undefined) {
    events = window.gon.events;
    times = window.gon.times;
    event_images = window.gon.event_images;
    addresses = window.gon.addresses;
    event_ids = window.gon.event_ids;
    event_pks = window.gon.event_pks;
    locale = window.gon.locale;
    for (var i=0; i < events.length; i++) {
      location_array.push(new google.maps.LatLng(events[i].latitude, events[i].longitude));
      event_names.push(events[i].name);
      event_types.push(window.gon.event_types[events[i].event_type_id - 1].name);
      event_path.push('/events/'+ event_ids[i]);
    }

    function initialize() {
       var map_styles = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
       var mapOptions = {
        scrollwheel: false,
        center: new google.maps.LatLng(40, -23),
        zoom: 2,
        styles: map_styles
      };

      map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

      var infowindow = new google.maps.InfoWindow();

      for (var i = 0; i < location_array.length; i++) {
        marker = new google.maps.Marker({
          map:map,
          draggable:false,
          animation: google.maps.Animation.DROP,
          position: location_array[i],
          title: event_names[i],
        });

        google.maps.event.addListener(marker, 'click', function(marker, i) {
          return function() {

        infowindow.setContent('<div class="contentWindow"><h4><a href =' + event_path[i]+'>' + event_names[i] + '</a>' +
        '&nbsp' + '&nbsp' + '&nbsp' + '&nbsp' +
        '<img src="' + event_images[i] + '" class="marker_image"></h4>' +
        '<div>' + event_types[i] + '</div>' + '<hr>' +
        '<h6>Where:</h6>' +
        '<div>' + addresses[i] + '</div>' +
        '<h6>When:</h6>' +
        '<div>' + times[i] + '</div></br>' +
        '<div><a class ="btn contact-link" href="' + location.origin + "/" + locale + '/contact/' + event_ids[i] + '" rel="modal:open">CONTACT HOST</a>' +
        '<a class="btn floatRight" href="' +location.origin + "/" + locale + '/new_attendee_user?event=' + event_pks[i] +  '" rel="modal:open">ATTEND</a>' +
        '</div></div>');
            infowindow.open(map, marker);
          }
        }(marker, i));
      }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  };

};

function addEvent(element, event, fn) {
    if (element.addEventListener)
        element.addEventListener(event, fn, false);
    else if (element.attachEvent)
        element.attachEvent('on' + event, fn);
}

addEvent(window, 'load', ready);
$(document).ready(ready);
$(document).on('page:load', ready);

