/* almost black */
$primary-color: #191918; 
//$primary-color: #f9f9f8; 

/* yellow */
$secondary-color1: #feef64;
//$secondary-color1: #E8E88E;

/* green */
$secondary-color2: #1b9f58;
//$secondary-color2: #B5FFAE;

/* red */
$secondary-color3: #d83437;
//$secondary-color3: #FF9D9B;
