/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= stub bootstrap-cyborg
 */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -70px;
}

#push, footer {
  height: 70px;
}

footer {
  padding-top: 10px;
  border-top: 1px solid #282828;
}

@media (max-width: 767px) {
  #wrap {
    margin: auto;
  }
  #push {
    display: none;
  }
  footer {
    height: auto;
  }
}

tr.strikethrough td {
  text-decoration: line-through;
}

.input-group p {
  padding: 5px;
}

.role-filled {
  text-decoration: line-through;
}

.thumbnail {
  width: 80px;
  height: auto;
  margin-right: 5px; 
  float: left;
}

.strike {
  text-decoration:line-through
}

table.fixed {
  table-layout: fixed;
}

.btn-primary, .btn-default {
  margin: 5px 0px 0px 0px;
}

.well-smm {
  margin: 15px 5px 5px 5px;
  margin-bottom: 10px;
  padding: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
}

.navbar-nav, .navbar-right {
  font-size: 16px;
  font-weight: 600;
}

.list-group-item {
  width: 35%;
}

.one-line {
  width: 15%;
  margin-right: 10px;
  margin-top: 5px;
  padding-bottom: -5px;
}

.alert-success {
  font-size: 14px;
  padding: 7px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 0;
}

#main-content {
  padding-top: 80px;
}

.disband-button {
  float: right;
}

.thin-row {
	margin-left: 150px;
	margin-right: 150px;
}

.field-required {
  color: red;
  font-size: 19px;
}

h3 {
  color: #ff6319;
}

.thumbnail-teams {
  width: 250px;
}

.txt-area-team-details {
  resize: none;
}

.btn-information {
  background-color: #39b3d7;
  border-color: #269abc;
  color: #ffffff;
}

.xthin-row {
	margin-left: 400px;
	margin-right: 400px;
	align-content: center;
	background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-top: 10%;  
}

#signup-prompt {
  vertical-align: bottom;
}

#signup-button {
	display: inline;
}

.signup-input {
	width: 250px;
	display: block;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.signin-button {
	width: 250px; 
	color: #ffffff;
	background-color: #ff6319;
	border-color: #ff6319;
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn-facebook.btn.btn-primary{
	background-color: #3b5998;
  border-color: #3b5998;	
.nav-teams {
  margin: 5px 5px;
  width: 200px;
}

