/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= stub bootstrap-cyborg
 */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -70px;
}

#push, footer {
  height: 70px;
}

footer {
  padding-top: 10px;
  border-top: 1px solid #282828;
}

@media (max-width: 767px) {
  #wrap {
    margin: auto;
  }
  #push {
    display: none;
  }
  footer {
    height: auto;
  }
}

tr.strikethrough td {
  text-decoration: line-through;
}

.input-group p {
  padding: 5px;
}
