.donation-form {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 20px black;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
	height: 400px;
}

#donation-header{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

#donation-label{
	font-size: 20px;
	font-weight: 700;
}

#donation-description{
	font-size: 16px;
	font-weight: 600;

}


#donation-input{
	float: left;
	width: 100%;
	font-size: 30px;
	padding: 10px;
	margin-bottom: 10px;
}

.donation-button {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	float: right;
}
