.breadcrumb-nav
  %ol.breadcrumb
    - movement = Movement.first
    - unless movement.nil?
      = link_to t('.events'), root_path, id: 'events'
      = "|"
      = link_to t('.teams'), support_network_movement_path(movement), id: 'teams'
