  <div class="breadcrumb-nav">
    <ol class="breadcrumb">
    <% movement = Movement.where(name: "Friends of the Congo").first %>
    <% unless movement.nil? %>
      <li><%= link_to "Friends of the Congo", movement_path(movement) %></li>
    <% end %>
    </ol>
  </div>
