.breadcrumb-nav
  %ol.breadcrumb
    - movement = Movement.where(name: "Friends of the Congo").first
    - unless movement.nil?
      %li= link_to t('views.layouts.breadcrumb.home'), movement_path(movement)
