<footer>
  <div class="container">
    This project is not affiliated with or authorized by any organization. This is just a brainstorm in code about a new way to organize people. Whether or not it is ever used in the Fast Food Strike, we hope this basic idea will be used someday for something.
  </div>
<%= yield :scripts %> 
</footer>
